[submodule "vim/.vim/pack/plugins/start/fern.vim"]
	path = vim/.vim/pack/plugins/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim
[submodule "vim/.vim/pack/plugins/start/fern-git-status.vim"]
	path = vim/.vim/pack/plugins/start/fern-git-status.vim
	url = https://github.com/lambdalisue/fern-git-status.vim
[submodule "vim/.vim/pack/plugins/start/nerdfont.vim"]
	path = vim/.vim/pack/plugins/start/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim
[submodule "vim/.vim/pack/plugins/start/glyph-palette.vim"]
	path = vim/.vim/pack/plugins/start/glyph-palette.vim
	url = https://github.com/lambdalisue/glyph-palette.vim
[submodule "vim/.vim/pack/plugins/start/fern-renderer-nerdfont.vim"]
	path = vim/.vim/pack/plugins/start/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim
[submodule "vim/.vim/pack/colors/start/vim-colors-solarized"]
	path = vim/.vim/pack/colors/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/.vim/pack/plugins/start/vim-mundo"]
	path = vim/.vim/pack/plugins/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
