[Desktop Entry]
Type=Application
Exec=caffeine-ng
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_GB]=Caffeine-ng
Name=Caffeine-ng
Comment[en_GB]=STAY AWAKE! LOL
Comment=STAY AWAKE! LOL
